apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  name: {{ prefix }}-rds
  namespace: {{ namespace_name }}
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: {{ prefix }}-rds
  data:
    - secretKey: username
      remoteRef:
        key: {{ secrets_environment }}/{{ secrets_namespace }}/rds
        property: username
    - secretKey: password
      remoteRef:
        key: {{ secrets_environment }}/{{ secrets_namespace }}/rds
        property: password
