apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  name: {{ prefix }}-flyway-database
  namespace: {{ namespace_name }}
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: {{ prefix }}-flyway-database
  data:
    - secretKey: db_username
      remoteRef:
        key: {{ secrets_environment }}/{{ secrets_namespace }}/flyway-database
        property: db_username
    - secretKey: db_password
      remoteRef:
        key: {{ secrets_environment }}/{{ secrets_namespace }}/flyway-database
        property: db_password
